body { 
  background-color: beige;
}

header {
  background-color: rgba(225, 194, 145, 0.98);
  position: sticky;
  top: 0;
  padding: 10px;
  filter: drop-shadow(5px 5px 10px #00000032);
}

nav > button {
  font-size: calc(12px + 0.5vw);
  font-weight: 700;
  padding: 10px 30px;
}

nav > button:first-child {
  color:rgba(211, 35, 220, 0.98);
}

nav > button:nth-child(2) {
  color:rgba(35, 94, 220, 0.98);
}

section {
  display: flex;
  flex-flow: row wrap;
}

section > div {
  flex: 1 0 300px;
  padding: 10px;
  margin: 10px;
}

img { 
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 6px;
  border: 3px solid #817343;
}
